body{
    margin: 0;
}
#bannar{
    height: 600px; 
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1px;
    opacity: .8;
    margin-bottom: 80px;
}
#header{

    text-align: center;
    color: white;
    
}
#header h1{
    font-size: 100px;
    margin-bottom: 0;
    font-weight: 700px;

}
#donate-tab{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-weight: 700px;
}
#donate-today{
    text-align: center;
    margin-bottom: 80px;
}
#ammount{
    display: flex;
}
.tk{
    margin: 30px;
    background-color:aqua;
    padding: 30px;
}

#our-donate-plan{
    text-align: center;
    margin-bottom: 80px;
}
#food-shelter-education{
    display: flex;
}
#food{
    margin: 10px;
    background-color: antiquewhite;
}
#shelter{
    margin: 10px;
    background-color: azure;
}
#education{
    margin: 10px;
    background-color:blanchedalmond
}

footer{
    text-align: center;
    background-color: black;
    color: white;
}