body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    font-size: 50px;
}
#bannar{
    height: 600px; 
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1px;
    opacity: .8;
    margin-bottom: 80px;
}
#header{

    text-align: center;
    color: white;
    
}
#header-h1{
    font-size: 100px;
    margin-bottom: 0;
    font-weight: 700px;

}
#donate-tab{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-weight: 700px;
}
#donate-today{
    text-align: center;
    margin-bottom: 80px;
}
#ammount{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;

}
.tk{
    width: 20%;
    height: 60px;
    margin: 2%;
    background-color:azure;
    padding: 20px;
    text-align: center;
    padding-top: 45px;
    font-size: 24px;
    font-weight:700px;
}
#hr input{
    border-width:0px;
    border:none;
    outline:none;
    font-size: 20px;
}

#tk200{
    color: red;
    border: 1px solid red;
    background-color:bisque
}

#hr{
    margin-left: 300px;
    margin-right: 300px;
}

#our-donate-plan{
    text-align: center;
    margin-bottom: 80px;
}
#food-shelter-education{
    margin-left: auto;
    display: flex;
}
#food{
    text-align: left;
    padding-top:50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10%;
    background-color: azure;

}
#shelter{
    text-align: left;
    padding-top:50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 1%;
    margin-left: 1%;
    background-color:rgb(249, 220, 225)
 
}
#education{
    text-align: left;
    padding-top:50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10%;
   background-color:blanchedalmond
}


#bonus{
    display:flex;
    margin-bottom: 80px;
}
#bonus div{
    width: 50%;
    padding-left: 10%;
}
#bonus img{
    width: 80%;
    margin-top: 8%;
    border-radius: 5px;
}


#outer-div{
    margin:auto;
    height: 200px;
    width: 1000px;
    background-color: antiquewhite;
    display: flex;
}
#inner-div{
    margin: auto;
}
#email{
    padding: 10px 10px 10px 5px;
    width: 400px;
    background-color: aliceblue;
    border-width:0px;
    border:none;
    outline:none;
}
#submit{
    padding: 9px 30px;
    background-color: tomato;
    border-color: tomato;
}


footer{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer h2{
    font-family: 'Lobster', cursive;
    color: red;
}
#get-my-updates{
    text-align: center;
    margin-bottom: 100px;
}