body{
    margin: 0;
}
.header{
    font-size: 50px;
}
#bannar{
    height: 600px; 
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1px;
    opacity: .8;
    margin-bottom: 80px;
}
#header{

    text-align: center;
    color: white;
    
}
#header-h1{
    font-size: 100px;
    margin-bottom: 0;
    font-weight: 700px;

}
#donate-tab{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-weight: 700px;
}
#donate-today{
    text-align: center;
    margin-bottom: 80px;
}
#ammount{
    display: flex;
    margin-left:auto;

}
.tk{
    width: 20%;
    height: 60px;
    margin: 20px;
    background-color:azure;
    padding: 20px;
    text-align: center;
    padding-top: 45px;
    font-size: 18px;
    font-weight:700px;
}
#tk200{
    color: red;
    border: 1px solid red;
    background-color:bisque
}
#hr{
    margin-left: 300px;
    margin-right: 300px;
}

#our-donate-plan{
    text-align: center;
    margin-bottom: 80px;
}
#food-shelter-education{
    margin-left: auto;
    display: flex;
}
#food{
    text-align: left;
    padding-top:50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    background-color: azure;

}
#shelter{
    text-align: left;
    padding-top:50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    background-color:rgb(249, 220, 225)
 
}
#education{
    text-align: left;
    padding-top:50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    background-color:blanchedalmond
}

footer{
    text-align: center;
    background-color: black;
    color: white;
}
#get-my-updates{
    text-align: center;
    margin-bottom: 100px;
}
#outer-div{
    margin:auto;
    height: 100px;
    width: 500px;
    background-color: antiquewhite;
    display: flex;
}
#inner-div{
    display: flex;
    margin: auto;
}
#inner-div1{
    padding: 3px 200px 3px 3px;
    background-color:aliceblue;
}
#inner-div2{
    padding: 3px 20px 3px 20px;
    background-color: tomato;
}

#bonus1{
    display:flex;
    margin-bottom: 80px;
}
#bonus1 img{
    width: 100%;
}
#bonus2{
    display:flex;
    margin-bottom: 80px;
}
#bonus2 img{
    width: 100%;
}